{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Changa+One:400,400italic|Open+Sans:700italic,400,700,800' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
{#                    <li><div><img id="logo" src="{% static 'img/goat.jpeg' %}"></div></li>#}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Your Jar</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% elif not user.is_authenticated %}
                        <li><a href="{% url "login" %}">Login</a></li>
                        <li><a href="{% url "register" %}">Register</a></li>
                    {% endif %}
                    {% block link %}{% endblock link %}
                </ul>
            </nav>
        </header>
        <div id="wrapper">
            {% block content %}{% endblock content %}
            <footer>
                <p>&copy; 2014 Niki Macomber.</p>
            </footer>
        </div>



    </body>
</html>