{% extends "base_template.html" %}

{% block title %}{% endblock title %}

{% block link %}
{% endblock link %}

{% block content %}
    <h1>Welcome To Date Jar</h1>
    <p>Ever catch yourself saying, "We should do that sometime."?  Put it in the Date Night Jar and
       next time you have a free night, pull out an idea.</p>
    <p> No more, "I don't care, what do you want to do?"</p>

    <section id="primary">
        <h3>Need some inspiration?  Check out our</h3>
        <h3>Categories</h3>
        <ul>
            <li><a href="{% url "date_night_fun" %}">Date Night Fun</a></li>
            <li><a href="{% url "eat_drink" %}">Eat & Drink</a></li>
            <li><a href="{% url "fun_home" %}">Fun @ Home</a></li>
            <li><a href="{% url "get_sporty" %}">Get Sporty</a></li>
            <li><a href="{% url "day_trip" %}">Day Trip Dates</a></li>
            <li><a href="{% url "adventure" %}">Adventure</a></li>
            <li><a href="{% url "classic" %}">The Classics</a></li>
            <li><a href="{% url "learn" %}">Learn Together</a></li>
            <li><a href="{% url "weekend" %}">The Weekender</a></li>
        </ul>
    </section>
    <section id="secondary">
        <ul>
            <li><a href="{% url "login" %}">Login</a> or <a href="{% url "register" %}">Register</a></li>
            To start your Jar
        </ul>
    </section>
    <section>
        <h3>Date Picker</h3>
        <h4>Give us some parameters and let us suggest a date:</h4>
        <ul>
            <li>form with basic info</li>
        </ul>
    </section>



{% endblock content %}


