{% extends "base_template.html" %}

{% block title %}{% endblock title %}

{% block link %} {% endblock link %}

{% block content %}
<section>
        <h1 class="welcome">Welcome to your Date Jar, {{ user.username | capfirst }}</h1>
        <h3><a href="{% url 'new_event' %}">Add a Date</a> or
        <a href="{% url 'home' %}">Browse for ideas</a></h3>
        <section id="lists">
            <ul id="dates">
                <h4>Dates</h4>
                {% for d in dates %}
                    <li>
                        <h4>{{ d.category }}</h4>
                        {{ d.name }},<br>{{ d.description }},<br>{{ d.location }},
                        <br><a href="{{ d.url }}">Website</a>,
                        <br>{{ d.address }},
                        <br><img src="{{ d.image }}"><br>
                        <a href="{% url 'done' d.id %}">Did it!</a><br>
{#                        here i am !!!!!!!!!!!!!!!!!!!!!{{ d.id }}!!!!!!!!!!!!!!#}
                        <a href="{% url 'remove_event' d.id %}">Delete it!</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <ul id="dated">
                <h4>Past Dates I liked</h4>
                {% for d in dated %}
                    <li>{{ d.name }},<br>{{ d.description }},<br>{{ d.location }},
                        <br><a href="{{ d.url }}">Website</a>,
                        <br>{{ d.address }},
                        <br><img src="{{ d.image }}">
                    <a href="{% url 'remove_event' d.id %}">Delete it!</a>

                    </li>
                {% endfor %}
            </ul>
        </section>
</section>



{% endblock content %}


