{% extends "base_template.html" %}

{% block title %}{% endblock title %}

{% block link %} {% endblock link %}

{% block content %}
<section>
        <h1 class="welcome">Welcome to your Date Jar, {{ user.username | capfirst }}</h1>
        <h3><a href="{% url 'new_event' %}">Add a Date</a> or
        <a href="{% url 'home' %}">Browse for ideas</a></h3>
        <section id="lists">
            <ul id="gallery">
                <h3>Dates</h3>
                {% for d in dates %}
                    <li>
                        <h4>{{ d.category }}</h4>
                        <p>{{ d.name }},<br>{{ d.description }},<br>{{ d.location }},
                        <br><a href="{{ d.url }}">Website</a>,
                        <br>{{ d.address }},
                        <br><img src="{{ d.image }}"><br></p>
                        <a href="{% url 'done' d.id %}">Did it!</a><br>
{#                        here i am !!!!!!!!!!!!!!!!!!!!!{{ d.id }}!!!!!!!!!!!!!!#}
                        <a href="{% url 'remove_event' d.id %}">Delete it!</a>
                    </li>
                {% endfor %}
---------------------------------------------------------------------------------------------------
                <h3>Past Dates</h3>
                {% for d in dated %}
                    <li>
                        <h4>{{ d.category }}</h4>
                        <p>{{ d.name }},<br>{{ d.description }},<br>{{ d.location }},
                        <br><a href="{{ d.url }}">Website</a>,
                        <br>{{ d.address }},
                        <br><img src="{{ d.image }}"></p>
                    <a href="{% url 'remove_event' d.id %}">Delete it!</a>

                    </li>
                {% endfor %}
            </ul>
        </section>
</section>



{% endblock content %}


