{% extends "base_template.html" %}
{% load staticfiles %}
{% block title %}{% endblock title %}

{% block link %} {% endblock link %}

{% block content %}


    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<div id="wrapper">
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="welcome">Get Sporty!</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section blog-posts-wrapper">
        <div class="container">
            <div class="row">
    {% for item in data %}
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="post-info">
    {#								<div class="post-date">#}
    {#									<div class="date">30 JAN, 2013</div>#}
    {#								</div>#}
    {#								<div class="post-comments-count">#}
    {#									<a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>#}
    {#								</div>#}
                            </div>
                            <!-- End Post Info -->
                            <!-- Post Image -->
                            <a href="#"><img src="{{ item.image }}" class="post-image" alt="Post Title"></a>
                            <!-- End Post Image -->
                            <!-- Post Title & Summary -->
                            <div class="post-title">
                                <h3><a href="#">{{ item.name }}</a></h3>
                            </div>
                            <div class="post-summary">
                                <p><br>{{ item.description }}. <br>{{ item.location }}<br>{{ item.address }}<br> <a href="{{ item.url }}" target=_blank> Check it out</a></p>
                            </div>
                            <!-- End Post Title & Summary -->
                            <div class="post-more">
                                {% if user.is_authenticated %}
                                <form action="/add_event/{{ item.id }}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-small" type="submit" value="Add to Date Jar"/></form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
    {% endfor %}
            </div>
       </div>
    </div>
</div>
{% endblock content %}


